{% extends "spotify/basefile_music.html" %}

{% block content %}
<body>
	<br>
	<div class = "info">
		About Novelty Insights - Spotify
	</div>
	<br>
	<br>
	<div class = "center">
	I began this project initially to analyze my own book reading history. After years where I absorbed information largely through podcasts, websites and conversations, reading was becoming more and more important to me. I don't read particularly fast, and each finished book felt like an achievement. I started by creating a spreadsheet to track the books I'd read and slowly filled it in and added more fields I found interesting, such as number of pages and the nationality of the author.
	<br>
	<br>
	I initially built out data visualizations using Goodreads data, but in this section I have expanded to music, utilizing Spotify streaming histories and the APIs Spotify makes available for retrieving song metainformation. I have personally found it interesting exploring my time of use patterns, as well as seeeing what songs or artists I had listened to at previous times, and what genres I listen or don't listen to. The Spotify data is interesting because songs are short, one can explore new genres quite quickly. However Spotify does not provide significant streaming history through their API, and only returns data requests after several days.
	<br>
	<br>
	This site is not about recommendations. Everyone else on the internet is already using your data to serve your "recommendations", so that you buy what they want you to buy. This site is about you profiting off of your data instead.
	<br> <br>
	<br> <br>
	</div>

</div>
</body>
{% endblock content %}