{% extends "goodreads/gallery.html" %}

{% block title %}
    <title>Music Analysis</title>
{% endblock title %}



<!-- customize navbar -->
{% block domain-home %}
        <a class="nav-link" href="{% url 'music-home' %}">Music</a>
{% endblock domain-home %}
{% block upload %}
        <a class="nav-link" href="{% url 'upload-spotify' %}">Upload Data</a>
{% endblock upload %}
{% block about %}
        <a class="nav-link" href="{% url 'about-this-spotify' %}">About This</a>
{% endblock about %}
{% block plots %}
        <a class="nav-link" href="{% url 'spotify-plots' %}">Plots</a>
{% endblock plots %}
{% block gallery %}
        <a class="nav-link" href="{% url 'gallery-music' %}">Gallery</a>
{% endblock gallery %}

{% block gal-title %}
MUSIC GALLERY
{% endblock gal-title %}

{% block gal-info %}
    These are the sorts of plots you should expect to see if you run your Spotify export through the site:
{% endblock gal-info %}


    {% block plotly1 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_overall_cal65.html" alt="Cal Overall Plot" > <br></iframe>
    {% endblock plotly1 %}
<br>
    {% block caption1 %}
    <div class="caption-text"> You listened to the most new songs around 2022-05-29, such as <b>Concert Going - Live Vancouver, B.C. 3-30-04 by Barenaked Ladies</b>, <b>Paradise - Live by Coldplay</b> and <b>Iris - Live by The Goo Goo Dolls</b>.

    Your most skipped tracks are <b>Gloire à Son Nom (Anástasis) by Hillsong En Français</b> (skipped 7 out of 8) and <b>Live in the Moment by Portugal. The Man</b> (6 out of 7).

    You listened to <b>Holding on to You</b> by Twenty One Pilots 78 times in this period.  However you haven't listened to it in 9 days.</div>
    {% endblock caption1 %}
<br>

    {% block title2 %}
    <div style="text-align: center;" class="image-title">Release Year Distribution</div>
    {% endblock title2 %}
    {% block plotly2 %}
        <iframe class='iframe' src="/static/admin/img/spotify/spotify_year_plot_cal65.html" alt="Spotify Year Plot" > <br></iframe>
    {% endblock plotly2 %}
    {% block caption2 %}
    Spotify provides the release year for songs. This plot groups your listening history by release years (and the number of minutes you've listened to songs from that year). For each year, the artist you've listened to the most from that year is shown in red. Please note that the release year may not be the same as the year the song was originally released, but rather when the version you listened to was released. Most users gravitate towards newer releases and songs from their formative years.
    {% endblock caption2 %}
<br>
<br>

    {% block plotly3 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_genre_plot_cal65.html" alt="Spotify Genre Plot" > <br></iframe>
    {% endblock plotly3 %}


    {% block caption3 %}
    Spotify labels songs with genres. This chart groups your listening history by genre and for each genre, shows the most played artist you have listened to.
    {% endblock caption3 %}

<br>
<br>
    {% block plotly4 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_top_songs_cal65.html" alt="Spotify Year Plot" > <br></iframe>
    {% endblock plotly4 %}

    {% block caption4 %}
    What were your favorite songs in the past year? This chart shows the most heavily played songs, with bubble size representing the number of plays on a day. <br>
    See which songs you discovered and listened to repeatedly, or which ones you consistently tuned into. <br>
    {% endblock caption4 %}

    <br>
    <br>
    {% block plotly5 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_top_artists_plot_cal65.html" alt="Spotify Days" > <br></iframe>
    {% endblock plotly5 %}
    {% block caption5 %}
    This graph breaks your history into segments and calculates the artist you listened to the most during that segment. Each artist shown here was your most listened to artist during a period of time, and the bars indicate when and how much you listened to them.
    {% endblock caption5 %}
<br>
<br>
    {% block title6 %}
    <div style="text-align: center;" class="image-title"> Popularity Plot - cal65</div>
    {% endblock title6 %}
    {% block plotly6 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_popularity_plot_cal65.html" alt="Spotify Days" > <br></iframe>
    {% endblock plotly6 %}
    {% block caption6 %}
    Popularity is a value normalized to 0-100 calculated by a Spotify algorithm, based largely on the total streams of a song weighted by recency. The overall Popularity distribution is close to normally distributed, represented by the red curve on this graph. 
    {% endblock caption6  %}
    <br>


