{% extends "goodreads/gallery.html" %}

{% block title %}
    <title>Music Analysis</title>
{% endblock title %}



<!-- customize navbar -->
{% block domain-home %}
        <a class="nav-link" href="{% url 'music-home' %}">Music</a>
{% endblock domain-home %}
{% block upload %}
        <a class="nav-link" href="{% url 'upload-spotify' %}">Upload Data</a>
{% endblock upload %}
{% block about %}
        <a class="nav-link" href="{% url 'about-this-spotify' %}">About This</a>
{% endblock about %}
{% block plots %}
        <a class="nav-link" href="{% url 'spotify-plots' %}">Plots</a>
{% endblock plots %}
{% block gallery %}
        <a class="nav-link" href="{% url 'gallery-music' %}">Gallery</a>
{% endblock gallery %}

{% block gal-title %}
MUSIC GALLERY
{% endblock gal-title %}

{% block gal-info %}
    These are the sorts of plots you should expect to see if you run your Spotify export through the site:
{% endblock gal-info %}


{% block plotly1 %}
    <iframe class='iframe' src="/static/admin/img/spotify/overall_cal65.html" alt="Cal Overall Plot" > <br></iframe>
    {% endblock plotly1 %}
<br>
<br>
{% block plotly2 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_year_plot_cal65.html" alt="Spotify Year Plot" > <br></iframe>
{% endblock plotly2 %}
<br>
<br>

<div class="plotly">
    {% block plotly3 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_genre_plot_cal65.html" alt="Spotify Genre Plot" > <br></iframe>
    {% endblock plotly3 %}
</div>
<br>
<br>
    {% block plotly4 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_top_songs_cal65.html" alt="Spotify Year Plot" > <br></iframe>
    {% endblock plotly4 %}
    <br>
    <br>
    {% block plotly5 %}
    <iframe class='iframe' src="/static/admin/img/spotify/spotify_weekday_plot_cal65.html" alt="Spotify Days" > <br></iframe>
    {% endblock plotly5 %}
<br>
<br>
{% block plotly6 %}
{% endblock plotly6 %}

    <br>


