__pycache__
env
*.sqlite3
novelty-multiple.pem
*.csv
*.txt
*.ipynb_checkpoints
*.ipynb
noveltyenv/
.DS_Store
art/*
ssl/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
