__pycache__
.env
env
*.sqlite3
novelty-multiple.pem
*.csv
*.txt
*.ipynb_checkpoints
*.ipynb
noveltyenv/
.DS_Store
*.sh
*.sql
*.rdb
art/*
ssl/*
/static
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

## ignores from `npm create vite`

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

goodreads/static/Graphs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
