{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'novelty/favicon.ico' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% tailwind_css %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{%  static  'css/landing.css'  %}" />
        {% block css-additional %}
        {% endblock css-additional %}
        {% block title %}
        <title>Novelty Insights</title>
        {% endblock title %}
    </head>
{% endblock head %}
    <body>
    {% block navbar %}
      <nav class="navbar-expand-lg navbar-dark bg-dark">
          <div class="navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item active pr-2">
                <a class="nav-link" href="{% url 'index-view' %}">
                  <img src="/static/novelty/N_logo_ondark.svg" alt="Novelty" class="logo">
                </a>
              </li>
              <li class="nav-item active pr-2">
                {% block d1 %}
                <a class="nav-link" href="{% url 'books-home' %}" style="color: #636efa; font-weight: bold;">BOOKS</a>
                {% endblock d1 %}
              </li>
              <li class="nav-item active pr-2">
                {% block d2 %}
                <a class="nav-link" href="{% url 'music-home' %}">MUSIC</a>
                {% endblock d2 %}
              </li>
               <li class="nav-item active pr-2">
                {% block d3 %}
                <a class="nav-link" href="{% url 'streaming-home' %}">STREAMING</a>
                {% endblock d3 %}
              </li>
              <li class="nav-item active pr-2">
                {% block d4 %}
                <a class="nav-link" href="{% url 'geography-home' %}">TRAVEL</a>
                {% endblock d4 %}
              </li>
            </ul>
            <span class="navbar-text">
                  {% if user.is_authenticated %}
                      {{ user.get_username }} - <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                      {% csrf_token %}
                      <button type="submit">Logout</button>
                  </form>
                  <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
                  {% else %}
                      <a href="{% url 'user-login' %}">Login</a>
                  {% endif %}</a>
            </span>
                
          </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="navbar-sub bg-dark">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active pr-2">
                {% block upload %}
                <a class="nav-link" href="{% url 'upload-view-goodreads' %}">Upload</a>
                {% endblock upload %}
                
              </li>
               <li class="nav-item active pr-2">
              {% block about %}
                <a class="nav-link" href="{% url 'about-this' %}">About This</a>
                {% endblock about %}
              </li>
              <li class="nav-item active pr-2">
                {% block plots %}
                <a class="nav-link" href="{% url 'plots' %}">Plots</a>
                {% endblock plots %}
              </li>
              <li class="nav-item active pr-2">
                {% block gallery %}
                <a class="nav-link" href="{% url 'gallery-books' %}">Gallery</a>
                {% endblock gallery %}
              </li>
              <li class="nav-item active pr-2">
                {% block lists %}
                <a class="nav-link" href="{% url 'book-lists' %}">Lists</a>
                {% endblock lists %}
              </li>
              {% block compare %}
              {% endblock compare %}
              <li class="nav-item active pr-2">
               {% block view-data %}
               <a class="nav-link" href="{% url 'books-view-data' %}">View Data</a>
               {% endblock view-data %}
              </li>
              <li class="nav-item active pr-2">
                {% block explore-data %}
                <a class="nav-link" href="{% url 'books-explore' %}">Explore Data</a>
                {% endblock explore-data %}
              </li>
            </ul>
          </div>
        </nav>

    {% endblock navbar %}

        <div id="content">
          {% block content %}{% endblock %}
        </div>

        {% block footer %}
        <div class="footer bg-dark">
          <p>&copy;Cal Lee 2023-{% now "Y" %} | <a href ="{% url 'comments' %}">Leave a Comment</a> | <a href="https://buymeacoffee.com/novelty">
          <img src="/static/novelty/bmc-button.png" style="height:30px; display: inline;" alt="bmc-button">
        </a>
           </p>
        </div>
        {% endblock footer %}
    </body>
</html>