{% extends "goodreads/basefile.html" %}

{% block content %}
<body>
	<br>
	<div class = "center" >
	<img class = "center" src="/static/admin/img/goodreads/BOOKS_Logo.svg" alt="Novelty">
	</div>
	<div class = "info">
		Welcome to Novelty Insights - Books
	</div>
	<br>
	<div class = "center">
		Come and understand better what you have read over the years. What genres have you read the most of? The least of? What geographic regions do the authors you read come from? When were you the most active with your reading?
	</div>
	<br>
	<div class = "info">
		How does it work?
	</div>
	<br>
	<div class = "center">
	This analysis is for those with a Goodreads account, which allows you to add the books that you've read or want to read to your library. On the desktop version of <a href="www.goodreads.com" class= "link">www.goodreads.com</a>, you can go to <b> My Books</b>. There is a tab on the left - if you scroll to the bottom you should find <i>"Import and Export"</i>.
	<img style="width: 40%; height: 40%; margin-left: auto; margin-right: auto;" src="/static/admin/img/goodreads-export.png">
	Click on the Import and Export button. It will direct you to a page with "Export" at the top. Below there is a button "Export Library". Click on this button. In a few seconds, a link will then be generated called "My Export", and finally clicking on that link will download a csv of your Goodreads library.
	<br>
	At the header of this site, there is an <a href="{% url 'upload-view-goodreads' %}" class= "link">Upload Data</a> section of this site, upload that csv file. Then click Analyze. After a bit, depending on the number of books you've read, plots will be available under "Plots".
	<br> <br>
	<br> <br>
</body>
{% endblock content %}