{% extends "goodreads/basefile.html" %}

{% block css-additional %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.2.0/css/searchPanes.dataTables.min.css"/>

{% endblock css-additional %}
{% block content %}

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.2.0/js/dataTables.searchPanes.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

<script>
function load_datatable(url, columns, targets) {
	var cols = columns.map(function(c) {
	  return { data: c };
	});
	$.ajax({
	    url: url,
	    method: 'GET',
	    dataType: 'json',
	    success: function(response){
	    	console.log('starting');
	    	$('#rTable').DataTable({
	    		data: response,
	    		columns: cols,
	    		"pageLength": 25,
		    	dom: 'PlBfrtip',
		        buttons: ['copy', 'csv', 'excel'],
		        columnDefs: [
		            {
		                searchPanes: {
		                    show: true,
		                    orthogonal:'sp',
		                    dtOpts: {
		                    	select: { style: 'multi'},
		                    }
		                },
		                targets: targets
		            }
		        ]
		    });
	    }, 
	     	error: function(xhr, errmsg, err) {
		      // Handle any errors
		      console.log(errmsg);  
	    	}
		})
	// processing: true,
    // serverSide: true
	}



</script>
<br>
<br>

{% block dt %}
<script>
$(document).ready( function() {
	load_datatable("{% url 'books-load-data' %}",
		columns=["title_simple",
        "author",
        "exclusive_shelf",
        "date_read",
        "shelves",
        "narrative",
        "nationality_chosen",
        "read",
        "read_percentage"],
        targets=[1, 4, 5]);
});
</script>
<div class="headline">
    Your Data
</div>
<br>
<div class="table-container">
<div class="table-wrapper">
	<table id="rTable">
		<thead class = "style-books">
		  <tr>
		    <th>Title</th>
		    <th>Author</th>
		    <th>exclusive_shelf</th>
		    <th>Date read</th>
		    <th>Shelves</th>
		    <th>Narrative</th>
		    <th>Author Nationality</th>
		    <th>Number of Readers</th>
		    <th>Finished %</th>
		  </tr>
		</thead>
		<tbody>
		  <!-- Table body content will be generated dynamically -->
		</tbody>
		<br><br><br>
	</table>
	<br>
	<br>
</div>
</div>
<br>
{% endblock dt %}
<br>

{% endblock content %}