{% extends "goodreads/basefile.html" %}

{% block content %}
<body>
	<br>
	<div class = "info">
		Welcome to Novelty Insights - Books
	</div>
	<br>
	<div class = "center">
		Come and understand better what you have read over the years. What genres have you read the most of? The least of? What geographic regions do the authors you read come from? When were you the most active with your reading?
	</div>
	<br>
	<div class = "info">
		How does it work?
	</div>
	<br> <br>
	<div class = "center">
	This analysis is for those with a Goodreads account. You can add the books that you've read or want to read to your library on Goodreads. On the desktop verion of www.goodreads.com, you can go to <bold> My Books </bold>. There is a tab on the left - if you scroll to the bottom you should find "Import and Export".
	<img style="width: 40%; height: 40%; margin-left: auto; margin-right: auto;" src="/static/admin/img/goodreads-export.png">
	Click on this link. It will direct you to a page with "Export" at the top. Below there is a button "Export Library". Click on this button. In a few seconds, a link will then be generated called "My Export", and finally clicking on that link will download a csv of your Goodreads library.
	<br>
	In the "Upload CSV" section of this site, upload that csv file. Then click Analyze. After a bit, depending on the number of books you've read, plots will be available under "Plots".
	<br> <br>
	<br> <br>
</body>
{% endblock content %}