{% extends "goodreads/basefile.html" %}
{% block content %}

<script>
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
        }
  }
    return cookieValue;
  }

var estimate;
function getEstimate(){
    const csrftoken = getCookie('csrftoken');
    var form = document.getElementById('csv-form')
    $("#progress").toggle()
    console.log(arguments)
        $.post({
        url: "{% url 'upload-goodreads' %}",
        data: new FormData(form),
        cache: false,
        contentType: false,
        processData: false,
        dataType: "json",
        headers: { "X-CSRFToken": csrftoken },
        success: function(resp) {
            console.log("Success")
            $("#progress").toggle();
            estimate = resp.book_ids.length;
            document.getElementById("estimate").innerHTML = estimate * 7; 
            $("#estimate_div").show();
            insert(resp.book_ids);
            }
        })
    }

function insert(book_ids){
    const csrftoken = getCookie('csrftoken');
    $("#progress").toggle()
    console.log(arguments)
     $.post({
      url: "{% url 'insert-goodreads' %}",
      data:  {'book_ids': book_ids},
      cache: false,
      headers: { "X-CSRFToken": csrftoken },
      success: function(data) {
            console.log("Success")
            $("#progress").toggle()
            $("#done").toggle()
          },
      error: function(data ){
            console.log("Something went wrong");
          }
      })
    }


function toggle(id){
    var element = document.getElementById(id);
    var hidden = element.getAttribute("hidden");
    console.log(hidden)

    if (hidden) {
       element.removeAttribute("hidden");
    } else {
       element.setAttribute("hidden", "hidden");
    }
}
  
</script>

{% block utitle %}
<div style="text-align: center;" class="font-bold pt-4 text-3xl">GOODREADS ANALYSIS</div>
{% endblock utitle %}

{% block upload-script %}
<div class="pt-8" style="display: flex; justify-content: center;">
   <div class="border-2 border-black p-2 w-1/3">
      <form action="" id="csv-form" method="POST" enctype="multipart/form-data" onsubmit= "event.preventDefault(); return getEstimate();">
        {% csrf_token %}
        <input type="file" id="file1" name="file" accept=".csv">
        <div class="pt-4">
            <button type="submit" class="bg-button hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">
                      Upload
            </button>
        </div>
        <div id = "progress"  class="upload-text" style="display: none;" >
                <p style="float: left;">Beginning upload...</p> 
                <img src="/static/admin/img/time-hourglass.gif" style="height: 50px; float: left;">
        </div> 
        <div id = "estimate_div" class="upload-text" style="display: none;"> 
            Querying books, estimated total time <span id="estimate"></span> seconds.
        </div>
        <div id = "done" class="upload-text" style="display: none;">
        <p>Upload complete.</p>
        </div>
      </form>
   </div>
</div>
{% endblock upload-script %}
<div class="pt-2" style="display: flex; justify-content: center;">
   <form method="POST">
      {% csrf_token %}
      <button type="submit" name="runscript" class="bg-button hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">
      Analyze
      </button>
   </form>
</div>
<br> <br>
<div class = "center">
   Click <span style="font-weight:bold"> Choose File</span>, select a file, then click  <span class="text-blue-800">Upload</span>. This may take some time for your browser to process, based on the amount of books in your upload. The script will scrape data fields from Goodreads that do not come from your export. After the scraping is completed, click <span class="text-blue-800">Analyze</span>. If your data has been properly uploaded, this will work for several seconds and then redirect you to your <a href="{% url 'plots' %}">Plots</a> page, which should display graphs like in the gallery.
</div>
{% block datanotes %}
<br>
<div class = "center">
    <p>Goodreads exports may contain duplicates. In addition to export, some data is scraped, including author genders and nationalities. If you believe you've seen inaccuracies, please notify me.</p> </div>
<br><br>
{% endblock datanotes %}

{% endblock content %}