{% extends "goodreads/basefile.html" %}

{% load django_vite %}

{% block content %}
    {% block dt %}
        <div class="headline mb-16">
            Explore Database
        </div>

        {% url 'books-load-explore' as dataUrl %}
        <script id="dataTableProps" type="application/json">
          {"url": "{{ dataUrl|escapejs }}"}
        </script>

        {% vite_asset "entryPoints/booksDataTable.tsx?elementId=dataTableProps" %}

        <!-- space for the footer -->
        <div class="h-16"></div>
    {% endblock dt %}


{% endblock content %}