{% extends "goodreads/basefile.html" %}

{% block css-additional %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css"/>
{% endblock css-additional %}
{% block content %}

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script>
function load_datatable(url, columns) {
	var cols = columns.map(function(c) {
	  return { data: c };
	});
	$.ajax({
	    url: url,
	    method: 'GET',
	    dataType: 'json',
	    success: function(response){
	    	console.log('starting');
	    	$('#rTable').DataTable({
	    		data: response,
	    		columns: cols,
	    		"pageLength": 25,
	    		initComplete: function () {
		        this.api()
		            .columns()
		            .every(function () {
		                var column = this;
		                var title = column.footer().textContent;
		                // Create input element and add event listener
		                $('<input type="text" placeholder="Search ' + title + '" />')
		                    .appendTo($(column.footer()).empty())
		                    .on('keyup change clear', function () {
		                        if (column.search() !== this.value) {
		                            column.search(this.value).draw();
		                        }
		                    });
		            });
		    	},
		    	dom: 'lBfrtip',
		        buttons: ['copy', 'csv', 'excel']
		    });
	    }, 
	     	error: function(xhr, errmsg, err) {
		      // Handle any errors
		      console.log(errmsg);  
	    	}
		})
	}
</script>

{% block dt %}
<script>
$(document).ready( function() {
	load_datatable("{% url 'books-load-explore' %}",
		["title_simple",
        "author",
        "gender",
        "nationality_chosen",
        "original_publication_year",
        "read",
        "shelf1",
        "shelf2",
        "shelf3"]);
});
</script>

<div class="headline">
    Explore Database
    <br>
</div>
<style>
  .table-container {
    font-size: 0.7rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: courier new;
    max-height: 1500px; /* Set the maximum height for the table container */
    overflow-y: auto; /* Add a vertical scrollbar when content exceeds the container height */
  }
  .table-wrapper {
    flex: 1; /* Allow the table wrapper to fill the remaining space */
    max-height: 1600px;
    overflow-y: auto; /* Add a vertical scrollbar when table content exceeds the container height */
  }

  /* Optional: Style the header to make it visually distinct */
  #rTable thead {
    background-color: #f2f2f2;
    color: #636efa;
    font-weight: bold;
    font-size: 0.8rem;
  }
</style>
<div class="table-container">
<div class="table-wrapper">
    <table id="rTable" class="cell-border">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Year</th>
            <th>Readers</th>
            <th>Shelf1</th>
            <th>Shelf2</th>
            <th>Shelf3</th>
          </tr>
        </thead>
        <tbody>
          <!-- Table body content will be generated dynamically -->
        </tbody>
    </table>
    <br>
    <br>
</div>
    <br>
    <br> <br>
    <br>
</div>
<br>
<br>

{% endblock dt %}
	

{% endblock content %}