{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{%  static  'css/landing.css'  %}" />
        <title>Goodreads Analysis</title>
    </head>

    <body>

    <div>
        <img class="center" src="../../static/admin/img/logo.png" alt="Novelty"> </img>
    </div>
    <div class="center-text">
    	1. What is this all about? <br>
    </div>
    <div class="answer">
    Novelty Insights is a platform for self-exploration, where your data is used not to sell you targeted ads but for you to better understand your habits and blind spots. The platform can visualize your data in ways you may not have seen or envisioned it before, and provide new contexts to what you have been doing. <br><br></div>
    <div class="center-text">
    	2. What is with the links? Books? Music? Travel? Streaming?<br>
    </div>
    <div class="answer">
    	These represent different domains. For books, data comes from Goodreads. For music, it can come from Spotify. For travel, it is a bit more complicated. Right now, functionality has only been built out for books, although for travel I have demonstrated a gallery of graphs. If reading books is not important to you, you might not find much from this website at the moment. Hopefully as we add more domains, we will have insights in areas you are interested in.<br><br> </div>
    <div class="center-text">
    	3. What should we learn from these visualizations?
    </div> 
    <div class="answer">
    	Data is neutral. The graphs simply present truth about what a person has read, putting the books in a context that is likely novel to the reader. I believe some people will look at their graphs and find some confirmation about their patterns and interests and perhaps some surprises.<br>
    </div>


</body>
</html>