{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{%  static  'css/landing.css'  %}" />
        <title>Goodreads Analysis</title>
    </head>

    <body>

    <div>
        <img class="center" src="../../static/admin/img/logo.png" alt="Novelty"> </img>
    </div>
    <div class="center-text">
    	1. What is this all about? <br>
    </div>
    <div class="answer">
    Novelty Insights is a platform for self-exploration, where your data is used not to sell you targeted ads but for you to better understand your habits and blind spots. The platform can visualize your data in ways you may not have seen or envisioned it before, and provide new contexts to what you have been doing. <br><br></div>
    <div class="center-text">
    	2. What is with the links? Books? Music? Travel? Streaming?<br>
    </div>
    <div class="answer">
    	These represent different domains. For books, data comes from Goodreads. For music, it can come from Spotify. For streaming, currently I have enabled Netflix analysis. Right now, functionality has been built out for books, music and streaming. Each domain has a gallery of example graphs, which happen to be my personal graphs. For travel, data is more complicated and this is not currently being built out, although I have kept track of my own travel history and have a gallery of my own graphs there.<br><br> </div>
    <div class="center-text">
    	3. What should we learn from these visualizations?
    </div> 
    <div class="answer">
    	Data is neutral. The graphs simply present truth about what a person has read, putting the books in a context that is likely novel to the reader. I believe some people will look at their graphs and find some confirmation about their patterns and interests and perhaps some surprises.<br>
    </div>
    <div class="center-text">
        4. What will you do with my data?
    </div> 
        <div class="answer">
        Your data will not leave the website without your permission. It will not be sold to advertisers for targeted ads. It may be aggregated to compute averages, which contribute to insights. This is currently only implemented for the genre comparison graphs in the Goodreads section.<br>
    </div>


</body>
</html>