{% extends "goodreads/basefile.html" %}

{% block content %}
<div style="text-align: center;" class="font-bold pt-4 text-3xl">
{% block gal-title %}
BOOKS GALLERY
{% endblock gal-title %}
</div>


<div class = "center-text">
    {% block gal-info %}
    These are the sorts of plots you should expect to see if you run your Goodreads export through the site:
    {% endblock gal-info %}
</div>

<div class="plotly">
    {% block plotly1 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/goodreads_summary_cal65.html" alt="Cal Summary Plot" > <br></iframe>
    {% endblock plotly1 %}
</div>
<br>
<br>
<div class="plotly">
    {% block plotly2 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/finish_plot_cal65.html" alt="Cal Finish Plot" > <br></iframe>
    {% endblock plotly2 %}
</div>

<br>
<br>
<br>
<div class="plotly">
    {% block plotly3 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/author_map_cal65.html" alt="Cal Reading Dist Plot" > <br></iframe>
    {% endblock plotly3 %}
</div>

<div class="left-text">
    Goodreads allows users to define their own shelves, and these shelves are then tabulated to create a crowdsourced set of genres per book. <br>
    This following plot shows the genres in which I have read more than an average user, and then genres in which I have read less. <br>
</div>
<div class="plotly">
    {% block plotly4 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/goodreads_genre_diff_cal65.html" alt="Cal Genre Diff Plot" > <br></iframe>
    {% endblock plotly4 %}
</div>
<br>
<br>
<div class="plotly">
    {% block plotly5 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/read_heatmap_cal65.html" alt="Cal Reading Dist Plot" > <br></iframe>
    {% endblock plotly5 %}
</div>
<br>
<br>
<div class="plotly">
    {% block plotly6 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/monthly_pages_read_cal65.html" alt="Cal Reading Dist Plot" style="height:1600px;" > <br></iframe>
    {% endblock plotly6 %}
</div>
<br>
<br>

{% endblock content %}
