{% extends "goodreads/basefile.html" %}
{% block content %}

{% block gal-title %}
<div style="text-align: center;" class="font-bold pt-4 text-3xl">BOOKS GALLERY</div>
{% endblock gal-title %}


<div class = "center-text">
    {% block gal-info %}
    These are the sorts of plots you should expect to see if you run your Goodreads export through the site:
    {% endblock gal-info %}
</div>

<div class="plotly">
    {% block plotly1 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/goodreads_summary_cal65.html" alt="Cal Summary Plot" > <br></iframe>
    {% endblock plotly1 %}
</div>
<br>
<br>
<div class="plotly">
    {% block plotly2 %}
    <iframe class='iframe' src="/static/admin/img/goodreads/author_map_cal65.html" alt="Cal Author Map" > <br></iframe>
    {% endblock plotly2 %}
</div>

<br>
<br>
<br>
<div class="plotly">
    {% block plotly3 %}
    <iframe class='iframe' src="/static/admin/img/read_heatmap_cal65.html" alt="Cal Reading Dist Plot" > <br></iframe>
    {% endblock plotly3 %}
</div>
<div class="plotly">
    {% block plotly4 %}
    {% endblock plotly4 %}
</div>
<br>
<br>
{% endblock content %}
