{% extends "goodreads/basefile.html" %}
{% block content %}

{% block gal-title %}
<div style="text-align: center;" class="font-bold pt-4 text-3xl">BOOKS GALLERY</div>
{% endblock gal-title %}

<div class = "center font-bold pt-4">
    These are the sorts of plots you should expect to see if you run your Goodreads export through the site:
</div>
<div style="display: flex; justify-content: center;">
    <img style="width: 80%;" src="/static/admin/img/summary_plot.jpeg" alt="Cal Summary Plot" > <br></img>
</div>
<br>
<br>
<div style="display: flex; justify-content: center;">
    <br>
    <img style="width: 80%;" src="/static/admin/img/finish_plot.jpeg" alt="Cal Finish Plot"></img>
    </div>
<br>
<p>
    <br>
    <br>
    <br>
</p>
<br>
<br>
{% endblock content %}
