{% extends "goodreads/basefile.html" %}

{% block content %}
<body>
	<br>
	<div class = "center" >
		<img class = "center" src="/static/admin/img/backpacker.jpg" alt="Novelty" style="height:30% width: 30%;">
	</div>
	<br>
	<div class = "info">
		About Novelty Insights - Travel
	</div>
	<br>
	<div class = "center">
	This space will allow you to explore your own explorations. More to come. <br> <br>
</div>
	<div class="center-image">
		<object class ="object-map" height="650" width="850" horizontal-align= "middle" data="/static/admin/img/geography/Geography_Cal.html" alt="Map"> </object>
</div>
<div class = "center">
	This graph shows the countries you have been to grouped by the official language of the country. <br>
</div>
<div class="center-image"><img src="/static/admin/img/Official_lang_outlines.jpeg" alt="Language Outlines" style="height:45em;"> </img>
</div>
<div class = "center">
	This graph shows the places you have been each year spaced by how far they were from your geographic mean of that year. <br>
</div>
<div class = "center" width="80%">
	<object class ="object-map" height="650" width="900" margin-left="auto" margin-right="auto" data="/static/admin/img/geography/geodist.html" alt="Dist map"> </object>
</div>
<br><br><br><br>
</body>
{% endblock content %}