{% extends "goodreads/basefile.html" %}

{% block content %}
<body>
	<br>
	<div class = "center" >
		<img class = "center" src="/static/admin/img/backpacker.jpg" alt="Novelty" style="height:30% width: 30%;">
	</div>9
	<br>
	<div class = "info">
		About Novelty Insights - Travel
	</div>
	<br>
	<div class = "center">
	This space will allow you to explore your own explorations. <br>
</div>
	<div class="center-image"><img src="/static/admin/img/Geography_Cal6.jpeg" alt="Map" style="height:15em;"> </img>
</div>
<div class = "center">
	This graph shows the countries you have been to grouped by the official language of the country. <br>
</div>
<div class="center-image"><img src="/static/admin/img/Official_lang_outlines.jpeg" alt="Language Outlines" style="height:15em;"> </img>
</div>
</body>
{% endblock content %}