{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{%  static  'css/landing.css'  %}" />
        <title>Goodreads Analysis</title>
    </head>

    <body>

        <div>
            <img class="center" src="../../static/admin/img/logo.png" alt="Novelty"> </img>
        </div>
        <br>
        <div class="center" id="intro-body" style="text-align:center">
            Welcome to Novelty Insights <br>
            What does your data mean to you? <br>
            Click below to explore different domains.
        </div>
        <br>
        <div class="container">
            <div class="item one-three pb-4"><a href="{% url 'csv-upload' %}">
                <img src="../../static/admin/img/bookshelf.jpg" alt="Novelty" style="height:5em;"> </img>
            </div></a>
            <div class="item one-three pb-4"><img src="../../static/admin/img/music.jpg" alt="Novelty" style="height:5em;"> </img></div>
            <div class="item one-three pb-4"><img src="../../static/admin/img/backpacker.jpg" alt="Novelty" style="height:5em;"> </img></div>
            <div class="item"><img src="../../static/admin/img/netflix.png" alt="Novelty" style="height:5em;"> </img></div>
        </div>
    </body>
</html>
