{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{%  static  'css/landing.css'  %}" />
        <title>Goodreads Analysis</title>
    </head>

    <body>

        <div>
            <img class="center" src="../../static/admin/img/logo.png" alt="Novelty"> </img>
        </div>
        <br>
        <div class="center center-text" id="intro-body">
            Welcome to Novelty Insights <br>
            What does your data mean to you? <br>
            Click below to explore different domains.
        </div>
        <br>
        <div class="container">
            <div class="item one-three pb-3"><a href="{% url 'books-home' %}">
                <img src="/static/admin/img/bookshelf.jpg" alt="Novelty" style="height: 30%;"> </img>
            <br>
            Books
        </div></a> 
            <div class="item one-three pb-3">
                <img src="/static/admin/img/music.jpg" alt="Novelty" style="height:5em;"> </img>
            <br>
            Music
        </div> 
            <div class="item one-three pb-3"><a href="{% url 'geography-home' %}">
                <img src="/static/admin/img/backpacker.jpg" alt="Novelty" style="height:5em;"> </img>
                <br>
                Travel
            </div></a>
            <div class="item"><img src="/static/admin/img/noun_video streaming_749860.png" alt="Novelty" style="height:5em; padding: 4px 4px;"> </img>
                <br>
            Streaming </div>
        </div>
    </body>
</html>
