{% extends "goodreads/basefile.html" %}
{% load static %}

{% block content %}
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    function reanalyze(){
        const csrftoken = getCookie('csrftoken');
        $.post({ 
            url: "/run-script/", 
            data: {runscript:true}, 
            headers: { "X-CSRFToken": csrftoken } })
        .done(response => {
          console.log("done!", response);

          // Set a cache buster parameter on every image URL on the page, to force the browser to reload the image.
          // The server will ignore the 't' parameter and just serve up the image normally. (The images should have been
          // regenerated as a side effect of the /run-script/ POST request.)
          const cacheBuster = String(Date.now());
          $('img').attr('src', (_, oldSrc) => {
            const url = new URL(oldSrc);
            url.searchParams.set('t', cacheBuster);
            return url.toString();
          });
        })
    }
</script>
<button name="runscript" onclick="reanalyze()" class="bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 pb-2 px-4 rounded">
    Re-Analyze
</button>
<div class="center-text">
    <br>
	<p>
        <font size="+10"><b> Welcome to your plots! </b></font>
        <br><br>
    This opening graph shows some summary statistics about your library. Your library is split up into fiction and
        non-fiction, male and female authors.
        Other graphs show the distribution of when the books were written, what the longest ones are, and the most
        common genres you've read.
</p>
</div>
    <div style="text-align: center;" class="font-bold pt-4 pb-2 text-2xl">SUMMARY IMAGE</div>
    <div style="display: flex; justify-content: center;">
        <img style="width: 80%; " src="{% static summary_plot_url %}" class="text-center" alt="summary-plot" />
    </div>
<br> <br>
    <div class="center-text">
    This shows the books that are the least commonly finished in your library.
    The numbers represent how many people marked a book as "to read" and the number that marked it as "finished".
        </div>
    <div style="text-align: center; " class="font-bold pt-4 pb-2 text-2xll">FINISH PLOT IMAGE</div>
    <div style="display: flex; justify-content: center; ">
        <img style="width: 80%;" src="{% static finish_plot_url %}"  class="text-center" alt="finish-plot" />
    </div>
    <p>
        <br>
        <br>

</p> </div>

        <div class="center-text">
        This shows the number of Goodreads users who have read this book, i.e. its popularity. It is divided into logarithmic tiers. <br>
            Most people read primarily popular books, and the 100,000-1,000,000 band is generally the most crowded. <br>
            It may surprise you how few other people have read some of your books.
    </div>
    <div style="text-align: center;" class="font-bold pt-4 pb-2 text-2xl">POPULARITY SPECTRUM IMAGE</div>
    <div class="center-text" style="display: flex; justify-content: center; width: 70%; height: 750px;">
        <iframe style="width: 100%; height: 100%;" src="{% static popularity_spectrum_url %}"  class="text-center"
                alt="popularity-spectrum" />
        </iframe>
    </div>

    <br>
    <div class="center-text">
        Below is an interactive map of the countries represented by the authors you have read.
    </div>
        <div style="text-align: center;" class="font-bold pt-4 pb-2 text-2xl">NATIONALITY MAP IMAGE</div>
    <div class="plotly">
        <iframe src="{% static nationality_map_url %}"  class="iframe" alt="nationality-map" />
    </iframe>
    </div>
    <br><br><br>
    <div class="center-text">
        Below is an interactive plot of the books you've read and what month you read them.
    </div>
        <div style="text-align: center;" class="font-bold pt-4 pb-2 text-2xl">MONTHLY READING HISTORY</div>
    <div class="plotly">
        <iframe src="{% static monthly_pages_read_url %}" class="iframe"  alt="nationality-map" />
    </iframe>
    </div>
    <br> <br>
    <br> <br>
{% endblock content %}
