{% extends "goodreads/basefile.html" %}
{% load static %}

{% block content %}
{%load plotly_dash%}
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    function reanalyze(){
        const csrftoken = getCookie('csrftoken');
        $.post({ 
            url: "/run-script/", 
            data: {runscript:true}, 
            headers: { "X-CSRFToken": csrftoken } })
        .done(response => {
          console.log("done!", response);

          // Set a cache buster parameter on every image URL on the page, to force the browser to reload the image.
          // The server will ignore the 't' parameter and just serve up the image normally. (The images should have been
          // regenerated as a side effect of the /run-script/ POST request.)
          const cacheBuster = String(Date.now());
          $('iframe').attr('src', (_, oldSrc) => {
            const url = new URL(oldSrc);
            url.searchParams.set('t', cacheBuster);
            return url.toString();
          });
          location.reload();
        })
    }

    $(document).ready(function() {
        $.ajax({
            url: '/good-text/',
            type: 'GET',
            success: function(data) {
                $('#small_nations').html(data.small_nations);
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
</script>
<button name="runscript" onclick="reanalyze()" class="bg-button hover:bg-blue-900 text-white font-bold py-2 pb-2 px-4 rounded">
    Re-Analyze
</button>
<br>
<div class ="navbar" style="position: fixed;">
    <ul>
        <li><p class = "nav-title">Goodreads Plots</p></li>
        <li><a class = "nav-link bg-dark" href ="#Summary"> Summary </a></li>
        <li><a class = "nav-link bg-dark" href="#Finish"> Finished </a></li>
        <li><a class = "nav-link bg-dark" href="#Genres"> Genres </a></li>
        <li><a class = "nav-link bg-dark" href="#Popularity"> Popularity </a></li>
        <li><a class = "nav-link bg-dark" href="#Map"> Authors' Map </a></li>
        <li><a class = "nav-link bg-dark" href="#Monthly"> Reading Calendar </a></li>
    </ul>
</div>

<section id = "Summary">
<div class="caption-text">
    <br>

        This graph shows some summary statistics about your library. Your library can be tabulated into fiction and
        non-fiction and authors by gender.
        Other graphs show the distribution of when the books were written, what the longest ones are, and the most
        common genres you've read.

</div>
    <div class="plotly" style="height: 1000px;">
        <iframe class="iframe" src="{% static summary_plot_url %}" alt="summary-plot"> </iframe>
    </div>
<br> 
</section>
<section id = "Finish">
<br>
    <div class="caption-text">
    This shows the books that are the least commonly finished in your library.
    The percentage represents how many people marked a book as "to read" out of the total number that marked it as "finished". <br>
    Popular books that have been published for a while like the Harry Potter series have a read rate of ~95%. <br>
    The plot is divided into books that you have finished and those that you have not (if your export includes books you have marked as "to-read").
    </div>
    <div class="plotly  ">
        <iframe class="iframe" src="{% static finish_plot_url %}"  alt="finish-plot" /></iframe>
    </div>

        <br>
    </section>
    <section id = "Genres">
        <br>
    <div class="caption-text">
    This shows the genres that you read, compared to an average. It is split into genres in which you read more than average and those that you read below average. <br> The ratios will not add up to 100% because books can have multiple genres. 
        </div>
    <div class="plotly">
        <iframe class="iframe" src="{% static genre_diff_url %}"  alt="genre-comparison-plot"> </iframe>
    </div>

        <br>
    </section>
        <br>

    <section id = "Popularity">
    <div class="caption-text">
        This shows the number of Goodreads users who have read this book, i.e. its popularity. It is divided into logarithmic tiers. <br>
            Most people read primarily popular books, and the 100,000-1,000,000 band is generally the most crowded. <br>
            It may surprise you how few other people have read some of your books.<br>
            Pink represents Fiction, blue Non-fiction.
    </div>
    <div class="center-text" style="display: flex; justify-content: center; width: 70%; height: 750px;">
        <iframe style="width: 100%; height: 100%;" src="{% static popularity_spectrum_url %}"  class="text-center"
                alt="popularity-spectrum" />
        </iframe>
    </div>
    <br>
    </section>

    <section id="Map">
    <br>
    <div class="caption-text">
        Below is an interactive map of the countries represented by the authors you have read.
    </div>
    <div class="plotly" style="align-items: center; height: 950px;">
        <iframe src="{% static nationality_map_url %}" class="iframe" style="height: 100%; width: 50%;" alt="nationality-map" >
    </iframe>
    </div>
    <br>
    <div class="caption-text" id ="small_nations">
    </div>
</section>
<section id = "Monthly">
<br><br>
    <div class="caption-text">
        Below is an interactive plot of the books you've read and what month you read them. If you do not record the date in which you finished books, this plot will not show up.
    </div>
    <div class="plotly" >
        <iframe src="{% static monthly_pages_read_url %}" class="iframe"  style="height:1200px;" alt="monthly-history" >
        </iframe>
    </div>
    <br> <br>
</section>

<div class="dash-frame">
{%plotly_app name="goodreads_dash" initial_arguments=dash_context %}

</div>

    <br> <br> <br> <br> <br> <br>
{% endblock content %}
