{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run Script</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-2">
    <div style="text-align: center;" class="font-bold pt-4 text-3xl">TEST RUN SCRIPT</div>
    {% if messages %}
        {% for message in messages %}
            <div class="text-red-600 pb-2">
                <strong>*{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <form method="POST" class="pb-4">
            {% csrf_token %}
            <button type="submit" name="pythonscript" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">
                Run py scripts
            </button>
        </form>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="runscript" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">
                Execute R scripts
            </button>
        </form>
    </div>
</body>
</html>