.container {
    display: grid;
    grid-template-columns: auto auto;
    width: 30%;
    padding: 70px 0;
}
.item {
    font-size: 30px;
    text-align: center;
}
.one-two {
    border-bottom: 1px solid black;
}
.one-three {
    border-right: 1px solid black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.info {
    display: block;
    text-indent: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    color: blue;
    border: 2px solid blue;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}