{% extends "goodreads/basefile.html" %}

    {% block title %}
        <title>TV Analysis</title>
    {% endblock title %}

	<!-- customize navbar -->
	{% block domain-home %}
            <a class="nav-link" href="{% url 'streaming-home' %}">TV</a>
    {% endblock domain-home %}
	{% block upload %}
            <a class="nav-link" href="{% url 'upload-spotify' %}">Upload Data</a>
    {% endblock upload %}
    {% block plots %}
            <a class="nav-link" href="{% url 'spotify-plots' %}">Plots</a>
    {% endblock plots %}
