{% extends "netflix/basefile_streaming.html" %}

{% load static %}

{% block title %}
  <title>Netflix Comparison</title>
{% endblock title %}

{% block content %}
<script>
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
        }
  }
    return cookieValue;
  }
  
function compare(){
      const csrftoken = getCookie('csrftoken');
      var username1 = "{{ user.get_username }}";
      var username2 = document.getElementById('compare-form').user.value;
      console.log(username1);
      console.log(username2);
      $.ajax({
         type: "POST",
         url: "{% url 'netflix-compare-func' %}",
         data: {'user2': username2},
         headers: { "X-CSRFToken": csrftoken},
         success: function(response) {
            var compare_url = response.compare_url;
            console.log(compare_url);
            console.log(response);
            if (response.success){
               var comptext = "You and " + username2 + " have similarities in <b>" + String(response.similarity) + "%</b> of your shows."

               var iframeElement = $('<iframe>').attr('src', compare_url).attr('class', 'iframe');
                $('#plot').append(iframeElement);
                $('#plot').show();
                $('#comp_text').append(comptext);
                $('#additional').show();
           }
           else {
               var comptext = username2 + " is not a valid username with Netflix data."
               $('#comp_text').append(comptext);
            }
         },
            
         error: function(response){
             console.log("Something went wrong");

           }
      })
          return false;
    };   


</script>



<div class="pt-8" style="display: flex; justify-content: center;">
   <div class="border-2 border-black p-2 w-1/3">
      <form action="" id="compare-form" method="POST" onsubmit= "event.preventDefault(); return compare();">
         {% csrf_token %}
         <label for="user">Friend's Username:</label><br>
         <textarea id="user" row="3" style="width:40%; border: solid 2px black;">
         </textarea> <br><br>
         <div class="pt-4">
            <button type="submit" id="compare-button" class="bg-button text-white font-bold py-2 px-4 rounded">
                      Compare
            </button>
         </div>
      </form>
   </div>
</div>
<br>
      <div id = "plot" class="plotly" style="display: none;"> 
      </div>
      <br>
   <div id="comp_text" class="caption-text">
   </div>
      <br>
   <div id="additional" class="caption-text" style="display: none;">
      Intensity is a custom scale with reality TV shows and comedies on the low end, and drama and crime shows on the high end.
   </div>

{% endblock content %}
