{% extends "netflix/basefile_streaming.html" %}

{% block content %}

<script>
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
        }
  }
    return cookieValue;
  }


var estimate;
  function getEstimate(){
    const csrftoken = getCookie('csrftoken');
    var form = document.getElementById('csv-form')
    $("#progress").toggle()
    console.log(arguments)
        $.post({
        url: "{% url 'upload-netflix' %}",
        data: new FormData(form),
        cache: false,
        contentType: false,
        processData: false,
        dataType: "json",
        headers: { "X-CSRFToken": csrftoken },
        success: function(resp) {
            console.log("Success")
            $("#progress").toggle();
            estimate = resp.names.length;
            document.getElementById("estimate").innerHTML = estimate;
            $("#estimate_div").show();
            insert(resp.names);
            }
        })
    }


  function insert(names){
      const csrftoken = getCookie('csrftoken');
      console.log(arguments)
         $.ajax({
            type: "POST",
            url: "{% url 'insert-netflix' %}",
            data: {'names': names},
            headers: { "X-CSRFToken": csrftoken},
            success: function(response) {
                $("#done").toggle();
                var hasData = true;
                console.log(hasData);
                $('#Analyze').prop('disabled', false);
              },
            error: function(names ){
                console.log("Something went wrong");
                $("#progress").toggle();
              }
          })
          return false;
    }



</script>
<div style="text-align: center;" class="font-bold pt-4 text-3xl">NETFLIX ANALYSIS</div>

<div class="pt-8" style="display: flex; justify-content: center;">
   <div class="border-2 border-black p-2 w-1/3">
      <form action="" id="csv-form" method="POST" enctype="multipart/form-data" onsubmit= "event.preventDefault(); return getEstimate();">
         {% csrf_token %}
         <input type="file" id="file1" name="file" accept=".csv">
         <div class="pt-4"><button type="submit" name="upload" class="bg-button hover:bg-blue-900 font-bold py-2 px-4 rounded">
                      Streaming Upload
         </button></div>
      </form>
       <div id = "progress" class="upload-text" style="display: none;">
            <p style="float: left;">Beginning upload...</p>
            <img src="/static/admin/img/time-hourglass.gif" style="height: 50px; float: left;">
        </div>
        <div id = "estimate_div" class="upload-text" style="display: none;"> 
            Querying data for <span id="estimate"></span> shows.
        </div>
        <div id = "done" class="upload-text" style="display: none;">
            <p>Upload complete</p>
        </div>
   </div>
</div>
<div class="pt-2" style="display: flex; justify-content: center;">
   <form method="POST">
    {% csrf_token %}
    <button id="Analyze" type="submit" name="runscriptNetflix" class="bg-button disabled:bg-gray-800 hover:enabled:bg-blue-900 font-bold py-2 px-4 rounded" {{ hasData|yesno:",disabled" }}>
      Analyze
    </button>
   </form>
</div>
<br>
<div class = "center">
   Click <span style="font-weight:bold"> Choose File</span>, select a file, then click  <span class="text-blue-800">Upload</span>. This may take some time for your browser to process, based on the size of your upload. Then click <span class="text-blue-800">Analyze</span> when you can. Afterwards, navigate to your <span class="text-blue-800"><a href="{% url 'netflix-plots' %}">Plots</a></span> page.
</div>
<br><br>
{% block data-notes %}
<div class = "center">
    Data notes: Netflix Viewing History provides the name of an Episode/Movie and the date on which it was last watched on the account. Additional genre and acting cast data are pulled via an API run by uNoGS (unofficial Netflix online Global Search). 
    <br><br>
    Data inaccuracies may exist, owing to either a search mismatch (data from a similarly-named show is pulled), data inaccuracies within the API, or other. Please contact the site creator directly if you find errors.

    Netflix also allows users to remove viewing history that they don't want associated with their account. If you see something that doesn't belong in your history, you are encouraged to remove it. Unlike in the Music domain, data here is deleted and regenerated with each new export.
</div>
{% endblock data-notes %}
{% endblock content %}
