{% extends "netflix/basefile_streaming.html" %}

{% block css-additional %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.2.0/css/searchPanes.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css"/>

{% endblock css-additional %}
{% block content %}

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.2.0/js/dataTables.searchPanes.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>


<script>
function load_datatable(url, columns) {
    var cols = columns.map(function(c) {
      return { data: c };
    });
    $.ajax({
        url: url,
        method: 'GET',
        dataType: 'json',
        success: function(response){
            console.log('starting');
            $('#rTable').DataTable({
                data: response,
                columns: cols,
                "pageLength": 25,
                order: [2, 'desc'],
                dom: 'PlBfrtip',
                buttons: ['copy', 'csv', 'excel'],
                order: [1, 'desc'],
                columnDefs: [
                    { width: 300, targets: 4 }, 
                    { width: 350, targets: 5},
                    { width: 300, targets: 6},
                    {
                        searchPanes: {show: true,},
                        targets: [1, 2,  6]
                    },
                    {
                        searchPanes: {show: false},
                        targets: [0, 3, 4]
                    },
                    {
                        targets: 5,
                        render: function (data, type, row) {
                          if (type === 'sp') {
                            return data.split(', ')
                          }
                          return data;
                        },
                        searchPanes: {
                            show:true,
                            orthogonal:'sp'
                        }
                      }
                ],
                "deferRender": true,
                initComplete: function() {
                    this.api().searchPanes.rebuildPane();
                }
            });
        }, 
            error: function(xhr, errmsg, err) {
              // Handle any errors
              console.log(errmsg);  
            }
        })
    }
</script>

{% block dt %}

<div class="headline">
    Explore Database
    <br>
</div>

<script>
$(document).ready( function() {
    load_datatable("{% url 'streaming-load-explore' %}",
        ["title",
        "release_year",
        "title_type",
        "alt_votes",
        "genres",
        "cast",
        "director",]);
});
</script>
<style>


  /* Optional: Style the header to make it visually distinct */
  #rTable thead {
    background-color: #f2f2f2;
    color: #00CC96;
    font-weight: bold;
    font-size: 0.8rem;
  }
</style>
<div class="table-container">
<div class="table-wrapper">
    <table id="rTable" class="cell-border">
        <thead class = "style-streaming">
          <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Title Type</th>
            <th>Popularity</th>
            <th>Genres</th>
            <th>Cast</th>
            <th>Director</th>
          </tr>
        </thead>
        <tbody>
          <!-- Table body content will be generated dynamically -->
        </tbody>
    </table>
</div>


{% endblock dt %}
{% endblock content %}