{% extends "netflix/basefile_streaming.html" %}
{% load static %}

{% block content %}
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    function reanalyze(){
        const csrftoken = getCookie('csrftoken');
        $.post({ 
            url: "/run-script-netflix/",
            data: {runscript:true}, 
            headers: { "X-CSRFToken": csrftoken } })
        .done(response => {
          console.log("done!", response);

          // Set a cache buster parameter on every image URL on the page, to force the browser to reload the image.
          // The server will ignore the 't' parameter and just serve up the image normally. (The images should have been
          // regenerated as a side effect of the /run-script/ POST request.)
          const cacheBuster = String(Date.now());
          $('img').attr('src', (_, oldSrc) => {
            const url = new URL(oldSrc);
            url.searchParams.set('t', cacheBuster);
            return url.toString();
          });
        })
    }


    $('#infotext').load("{% static info_text %}");
</script>
<button name="runscript" onclick="reanalyze()" class="bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 pb-2 px-4 rounded">
    Re-Analyze
</button>
<div class="center-text">
    <br>
	<p>
        <font size="+10"><b> Welcome to your plots! </b></font>
        <br><br>
    This opening graph shows some summary statistics about your Netflix history.
</p>
</div>
    <div style="text-align: center;" class="font-bold pt-4 pb-2 text-2xl">OVERALL TIMELINE</div>
    <div style="display: flex; justify-content: center; height: 650px;">
        <iframe style="width: 60%;" src="{% static timeline_url %}" class="text-center" alt="timeline"></iframe>
    </div>
 <div class="center-text">
        These plots are interactive. You can zoom in and out as well as click on the legend to deselect categories. Double click on a legend value to only select those values.
        </div>

        <br>
        <br>
<p id="infotext"></p>
<div style="text-align: center; " class="image-title">VOLUME HISTOGRAM</div>
    <div class ="plotly">
        <iframe src="{% static histogram_url %}"  class="iframe" alt="genres" /> </iframe>
    </div>
<div class="center-text">
    This shows the historical consumption of your Netflix account, based on the number of episodes and when they were last watched.
</div>
<br><br>
<br> <br>
</div>
    <div style="text-align: center;" class="image-title">GENRES DISTRIBUTION - TV SHOWS</div>
    <div class ="plotly">
        <iframe class ="iframe" src="{% static genre_series_url %}" alt="genre"></iframe>
    </div>
<br>
    <br>
    <div class="center-text">
        This shows the different types of shows you've watched grouped by a genre type.
        </div>
    <div style="text-align: center; " class="image-title">GENRES DISTRIBUTION - MOVIES</div>
    <div class ="plotly">
        <iframe src="{% static genre_movie_url %}"  class="iframe" alt="genres" /> </iframe>
    </div>
<div class="center-text">
    This shows the different types of movies you've watched grouped by a genre type.
</div>


    <br>
    <br>
     <div style="text-align: center; " class="image-title">ACTOR NETWORK PLOT</div>
    <div class ="plotly">
        <iframe src="{% static network_url %}"  class="iframe" alt="top-songs" /> </iframe>
    </div>
<div class="center-text">
    And this plot has a lot going on. Hover over to see actors/actresses who have appeared in multiple productions you've seen.
</div>
    <p>
        <br>
        <br>

</p>
    <br>
    <br> <br>
{% endblock content %}
