{% extends "netflix/basefile_streaming.html" %}
{% load static %}

{% block content %}
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    function reanalyze(){
        const csrftoken = getCookie('csrftoken');
        $.post({ 
            url: "/run-script-netflix/",
            data: {runscriptNetflix:true}, 
            headers: { "X-CSRFToken": csrftoken } })
        .done(response => {
          console.log("done!", response);

          // Set a cache buster parameter on every image URL on the page, to force the browser to reload the image.
          // The server will ignore the 't' parameter and just serve up the image normally. (The images should have been
          // regenerated as a side effect of the /run-script/ POST request.)
          const cacheBuster = String(Date.now());
          $('img').attr('src', (_, oldSrc) => {
            const url = new URL(oldSrc);
            url.searchParams.set('t', cacheBuster);
            console.log(url.toString())
            return url.toString();
          });
        })
    }


</script>
<button name="runscript" onclick="reanalyze()" class="bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 pb-2 px-4 rounded">
    Re-Analyze
</button>

<br>
<div class ="navbar" style="position: fixed;">
    <ul>
        <li><p class = "nav-title">Netflix Plots</p></li>
        <li><a class = "nav-link bg-dark" href ="#Timeline"> Timeline </a></li>
        <li><a class = "nav-link bg-dark" href="#Volume"> Volume </a></li>
        <li><a class = "nav-link bg-dark" href="#Genres-TV"> Genres - TV </a></li>
        <li><a class = "nav-link bg-dark" href="#Genres-Movies"> Genres - Movie </a></li>
        <li><a class = "nav-link bg-dark" href="#Network"> Actors' Network </a></li>
    </ul>
</div>

<section id ="Timeline">
    <br>

    <div style="text-align: center;" class="font-bold pt-4 pb-2 text-2xl">OVERALL TIMELINE</div>
        <div class="plotly" style="height: 750px;">
            <iframe class="iframe" src="{% static timeline_url %}" alt="timeline"></iframe>
        </div>
        <br>
    <div class="caption-text">
        This is a timeline plot of your Netflix history. Each dot represents a day, and the size of the dot represents the number of shows watched on that day. The plot is interactive. You can zoom in and out as well as click on the legend to deselect categories. Double click quickly on a legend value to only select those values. The date on which you binged the most was <b>{{ binge_date }}</b> when you watched <b>{{ binge_show }} {{ binge_n }}</b> times.
        </div>
    </section>

        <br>
        <br>
<section id ="Volume">        
<p id="infotext"></p>
<div style="text-align: center; " class="image-title">VOLUME HISTOGRAM</div>
    <div class ="plotly">
        <iframe src="{% static histogram_url %}"  class="iframe" alt="genres" /> </iframe>
    </div>
<div class="caption-text">
    This shows the historical consumption of your Netflix account, based on the number of episodes and when they were last watched.
</div>
<br><br>
</section>
<br> <br>
</div>
<section id ="Genres-TV">
    <div style="text-align: center;" class="image-title">GENRES DISTRIBUTION - TV SHOWS</div>
    <div class ="plotly">
        <iframe class ="iframe" src="{% static genre_series_url %}" alt="genre"></iframe>
    </div>
<br>
    <br>
    <div class="caption-text">
        This graph displays the shows you've watched grouped by a genre type. Most shows have multiple genres, but a single genre is chosen semi-arbitrarily.
    </div>
</section>

<section id ="Genres-Movies">
    <div style="text-align: center; " class="image-title">GENRES DISTRIBUTION - MOVIES</div>
    <div class ="plotly">
        <iframe src="{% static genre_movie_url %}"  class="iframe" alt="genres" /> </iframe>
    </div>
<div class="caption-text">
    This shows the movies you've watched grouped by a genre type. Occasionally shows are mislabeled as movies and vice versa.
</div>
</section>
<section id ="Network">
    <br>
    <br>
     <div style="text-align: center; " class="image-title">ACTOR NETWORK PLOT</div>
    <div class ="plotly">
        <iframe src="{% static network_url %}"  class="iframe" alt="top-songs" /> </iframe>
    </div>
<div class="caption-text">
    And this plot has a lot going on. Hover over to see actors/actresses who have appeared in multiple productions you've seen.
</div>
</section>

    <br>
    <br> <br>
{% endblock content %}
