{% extends "goodreads/basefile.html" %}

    {% block title %}
        <title>Travel Analysis</title>
    {% endblock title %}

	<!-- customize navbar -->
    {% block d1 %}
            <a class="nav-link" href="{% url 'books-home' %}" >Books</a>
    {% endblock d1 %}
    {% block d4 %}
            <a class="nav-link" href="{% url 'geography-home' %}" style="color: #AB63FB; font-weight: bold;" >Geography</a>
    {% endblock d4 %}
	{% block upload %}
    {% endblock upload %}
    {% block about %}
    {% endblock about %}
    {% block plots %}
    {% endblock plots %}
    {% block gallery %}
            <a class="nav-link" href="{% url 'gallery-geography' %}">Gallery</a>
    {% endblock gallery %}
    {% block lists %}
    {% endblock lists %}
    {% block compare %}
    {% endblock compare %}
    {% block view-data %}
    {% endblock view-data %}
    {% block explore-data %}
    {% endblock explore-data %}