{% extends "goodreads/basefile.html" %}

    {% block title %}
        <title>Music Analysis</title>
    {% endblock title %}

	<!-- customize navbar -->
	{% block domain-home %}
            <a class="nav-link" href="{% url 'music-home' %}">Music</a>
    {% endblock domain-home %}
	{% block upload %}
            <a class="nav-link" href="{% url 'upload-spotify' %}">Upload Data</a>
    {% endblock upload %}
    {% block about %}
          <a class="nav-link" href="{% url 'about-this-spotify' %}">About This</a>
    {% endblock about %}
    {% block plots %}
            <a class="nav-link" href="{% url 'spotify-plots' %}">Plots</a>
    {% endblock plots %}
    {% block gallery %}
            <a class="nav-link" href="{% url 'gallery-geography' %}">Gallery</a>
    {% endblock gallery %}