{% extends "goodreads/gallery.html" %}

{% block title %}
    <title>Streaming Analysis</title>
{% endblock title %}

<!-- customize navbar -->
{% block domain-home %}
        <a class="nav-link" href="{% url 'geography-home' %}">Geography</a>
{% endblock domain-home %}
{% block upload %}
{% endblock upload %}
{% block about %}
{% endblock about %}
{% block plots %}
{% endblock plots %}
{% block gallery %}
        <a class="nav-link" href="{% url 'gallery-geography' %}">Gallery</a>
{% endblock gallery %}

{% block gal-title %}
<div style="text-align: center;" class="font-bold pt-4 text-3xl">GEOGRAPHY GALLERY</div>
{% endblock gal-title %}

{% block gal-info %}
    These are the sorts of plots I have prototyped on my own travel data which I have manually maintained:
{% endblock gal-info %}

    {% block plotly1 %}
        <iframe class ="iframe" horizontal-align= "middle" src="/static/admin/img/geography/Geography_Cal.html" alt="Map"> </iframe>
    {% endblock plotly1 %}
    <br>
    <br>
    {% block plotly2 %}
        <img class="center-image" src="/static/admin/img/geography/Alpha_All.jpeg" alt="Cities Alpha Plot" > <br>
    {% endblock plotly2 %}
    <br>
    <br>

    {% block plotly3 %}
    <iframe class='iframe' src="/static/admin/img/geography/geodist.html" alt="Geo Dist Plot" > <br></iframe>
    <br>
    {% endblock plotly3 %}

    {% block caption3 %}
    This plot calculates the geographic mean for each year, and then the distance for all my locations from that mean and plots that on the y axis. 
    {% endblock caption3 %}
   

    {% block plotly4 %}
    <img class="center-image" src="/static/admin/img/geography/cumulative_lat.jpeg" alt="Latitude Plot" > <br>
    {% endblock plotly4 %}

    {% block caption4 %}
    {% endblock caption4 %}
    <br>
    <br>

    {% block plotly5 %}
    <img class="center-image" src="/static/admin/img/geography/Official_lang_outlines.jpeg" alt="Language Outlines" style="height:45em;">
    {% endblock plotly5 %}

    <br>
    {% block caption5 %}
    This graph shows the countries you have been to grouped by the official language of the country. <br>
    {% endblock caption5 %}
    <br>
    {% block plotly6 %}
    {% endblock plotly6 %}
<br>
<br>

