{% extends "geography/basefile_geography.html" %}

{% block content %}
<body>
	<br>
	<div style="text-align: center;" class="font-bold pt-4 pb-2 text-2xl">UNDER CONSTRUCTION</div>
	<br>
	<div class = "center" >
		<img class = "center" src="/static/novelty/backpacker.jpg" alt="Novelty" style="height:30% width: 30%;">
	</div>
	<br>
`	<div class = "center">
	This space will allow you to explore your own past journeys. It is not yet developed, although prototypes of graphs are available in the <a href="{% url 'gallery-geography' %}" class= "link">Gallery</a>. This differs substantially from the other domains because of the lack of a single source of data. For this to work well, data from where one has lived and traveled is required. <br> <br>
</div>


<br><br><br><br>
</body>
{% endblock content %}